# Database Configuration
DB_USER=postgres
DB_PASSWORD=postgres
DB_NAME=antifrode_backend_db
DB_PORT=5432

# Application Configuration
APP_PORT=8000

# Configuration file path (inside container)
CONFIG_PATH=/app/config.docker.yaml

INITIAL_ADMIN_PASSWORD=AdminPassword123